<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addHome</title>
</head>
<body>
    <header>
     <h1>REGISTER YOUR HOME</h1>
     </header>
     <main>
        <form action = "/host/add-home" method="POST">
        <input type = "text" name="housename" placeholder="enter name of house"/>
        <input type = "number" name="price" placeholder = "enter price"/>
        <input type = "submit"/>
        </form>
        </main>
</body>
</html>